fastapi
uvicorn[standard]
gunicorn
sqlalchemy
alembic
psycopg2-binary
pandas
httpx
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
fastapi-mail
redis
celery
slowapi
pytest
pytest-asyncio
email-validator